body {
    background-color: hsl(233, 47%, 7%);
    display: grid;
    place-items: center;
    margin: 10% 15% 10% 15%;
}

img {
    min-width: 100%;
    min-height: 100%;
}

.row {
    display: flex;
}
.column {
    flex: 1;
}

.mobile-image {
    display: none;
}
.web-image {
    position: relative;
}
.web-image img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.web-image::after {
    background-color: hsl(277, 100%, 31%);
    opacity: 60%;
    position: absolute;
    height: 100%;
    width: 101%;
    top: 0;
    left: 0;
    display: block;
    content: "";
}

.card-main {
    background-color: hsl(244, 38%, 16%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    min-width: 40%;
    padding: 50px;
    text-align: left;
}
.card-main h1 {
    color: white;
    font-weight: 700;
}
.stats {
    padding-top: 40px;
}
.stats h1 {
    font-size: 1.5rem;
}
.stats p {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-size: .9rem;
    text-transform: uppercase;
}
.stats.row {
    justify-content: space-between;
}

/* Media Queries */

@media (max-width: 500px) {
    body {
        place-items: none;
        margin: 10% 0 10% 0;
    }

    .row {
        flex-direction: column;
    }

    .card-container {
        max-width: 80%;
    }

    .mobile-image {
        display: contents;
        position: relative;
    }
    .mobile-image::after {
        background-color: hsl(277, 100%, 31%);
        opacity: 60%;
        position: absolute;
        height: 51%;
        width: 100%;
        /* top: 0;
        left: 0; */
        display: block;
        content: "";
    }

    .mobile-image img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .web-image {
        display: none;
    }

    .card-main {
        border-top-left-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        min-width: 0;
        text-align: center;
    }
}
